@import "./slideshow.css";
 
  body {
    margin: 0;
  }

/* Navigation */
  .container__navigation {
    max-width: 1256px;
    margin: 0 auto;
    text-align: left;
  }

  .container__links {
    display: inline-block;
    padding: .5rem;
    margin-right: 2.5rem;
    margin-bottom: 1rem;
  }

  .container__links a {
    color: black;
    font-family: sans-serif;
    padding: 1rem 4rem 1rem 4rem;
    background-color: #4C4E61;
    border-radius: 0rem 0rem .5rem .5rem;
    text-decoration: none;
    font-weight: 400;
    color: #FFF;
    transition: 0.5s;
  }

  .container__links a:hover {
    background-color: #000;
    border-radius: 0rem 0rem .3rem .3rem;
  }

/* Cards */
  .container__cards {
    max-width: 1256px;
    margin: 0 auto;
    text-align: center;
  }

  .container__card {
    display: inline-block;
    max-width: 400px;
    max-height: 400px;
    transition: 0.5s;
    border-radius: .5rem;
    border-bottom: .25rem solid #4C4E61;
    overflow: hidden;
    margin: .5rem auto;
    padding: .5rem;
    background-color: #F9F9F9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  .container__card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  }

  .container__card img {
    width: 400px;
    height: 200px;
    border-radius: .5rem .5rem 0rem 0rem;
    object-fit: cover;
    object-position: 50% 0%;
    opacity: 75%;
  }
  
  .container__card--text {
    color: black;
    font-family: sans-serif;
  }

  .container__card--text h2 {
    text-align: left;
    margin: 0;
    color: 	#4C4E61;
    font-weight: 600;
    line-height: 2;
  }

  .container__card--text p {
    text-align: justify;
    margin: 0;
    color: #A3A5AE;
    font-weight: 400;
  }

  .container__card--text a {
    display: block;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #4C4E61;
    border-radius: .5rem;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 400;
    color: #FFF;
    transition: 0.5s;
  }

  .container__card--text a:hover {
    background-color: #000;
    border-radius: .3rem;
  }