  .container__card {
    max-width: 400px;
    transition: 0.5s;
    border-radius: .5rem;
    border-bottom: .25rem solid #4C4E61;
    overflow: hidden;
    margin: 1.5rem auto;
    padding: .5rem;
    background-color: #F9F9F9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  .container__card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  }

  .container__card img {
    width: 100%;
    max-height: 200px;
    border-radius: .5rem .5rem 0rem 0rem;
    object-fit: cover;
    object-position: 50% 0%;
    opacity: 75%;
  }
  
  .container__card--text {
    color: black;
    font-family: sans-serif;
  }

  .container__card--text h2 {
    margin: 0;
    color: 	#4C4E61;
    font-weight: 600;
    line-height: 2;
  }

  .container__card--text p {
    margin: 0;
    color: #A3A5AE;
    font-weight: 400;
  }